<div class="container mt-5">
  <div class="row h-100">
    <div class="col-lg-6">
      <h1 class="">Votez <br> pour un projet</h1>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        repellat
        dolorem amet voluptates, unde esse reprehenderit ullam laborum iusto
        neque
        maxime. Praesentium fuga qui aspernatur necessitatibus provident nulla!
        Aut,
        ducimus.</p>
      <hr>
      <button class="btn btn-primary btn-lg">Choissisez un projet</button>
    </div>
    <div class="col-lg-6">
      <img src="../assets/vote.png" class="card-img" alt="Hello">
    </div>
  </div>

  <h2 class="m-2">Liste des projets par thématique</h2>
  <div>

    <div class="accordion" id="accordionPanelsStayOpenExample">

      <!-- Thématique 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            Thématique 1
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse
          show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <div class="row">
              <!-- Projet 1 -->
              <div class="col-lg-6 mb-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Projet 1 : </h5>
                    <p class="card-text">Some quick example text to build on the
                      card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Votez</a>
                  </div>
                </div>
              </div>

              <!-- Projet 2 -->
              <div class="col-lg-6 mb-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Projet 2 : </h5>
                    <p class="card-text">Some quick example text to build on the
                      card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Votez</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
