<div class="row">
  <div class="col-6">
    <div class="m-2">
      <h3>Projet 1</h3>
      <h5 class="text-muted">Description</h5>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aut
      excepturi atque a ipsam delectus quisquam ad autem optio in totam
      dignissimos rerum expedita, illum porro corporis, harum id vero!
      <br>
      <button class="btn btn-success m-4">Cliquer pour Voter</button>
    </div>
  </div>
  <div class="col-6">
    <img src="../assets/vote.png" class="card-img" alt="Hello">
  </div>
</div>
